
<span>音源</span>
<%= form.file_field :file %>

<br>
<span>楽曲タイトル</span>
<%= form.text_field :audio_title %>

<br>
<span>楽曲画像</span>
<%= form.file_field :new_audio_image %>

<br>
<span>歌詞</span>
<%= form.text_area :audio_lyrics,col:40,row: 3 %>