<h2 class="my-4">新規登録</h2>

<p>ツイッターアカウントで登録/ログイン</p>
<p>※音楽活動を行なっている公式のアカウントのご利用をお願いします</p>

<%= link_to " Twitterでログイン/登録", user_twitter_omniauth_authorize_path,class: "btn btn-primary btn-lg login-button" %>


