<%=render "shared/basic"%>

<ul class="tab clearfix">
  <li class="active far fa-copy"></li>
  <li class="fas fa-user-circle"></li>
</ul>

<!-- コンテンツ
 全体を非表示にし、showクラスが付いたコンテンツのみ表示 -->
<div class="area">
<ul class="show">
  <%=render "shared/artwork"%>
</ul>
<ul>
<%=render "shared/about"%>
</ul>
</div>




