<div class='container-fuild'>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='docs col-md-6'>


<h2>よくある質問</h2>
<br>
<h3>無料で利用できますか？</h3>
<p>はい。全ての機能を無料でご利用可能です</p>

<br>
<h3>退会するには？</h3>
<p><%= link_to "こちら","/unsubscribe" %>から退会可能です。退会した場合全てのデータが削除され、復活させることはできませんのでご注意下さい。</p>
</div>

</div>
<div class='col-md-3'></div>
</div>
</div>