<span>音源</span>
<br>
<span>動画URL</span>
<%= form.text_field :video_url %>

<br>
<span>動画タイトル</span>
<%= form.text_field :video_title %>
<br>
<span>歌詞</span>
<%= form.text_area :video_lyrics,col:40,row: 3 %>
