<div class='container-fluid'>
<div class='row'>
<div class='col-md-2'></div>


<div class='header-content col-md-7 col-md-offset-1'>

<%= link_to(image_tag('logo.jpg',class: 'header-logo'), "#") %>
<div class='header-menu'>
  <%= link_to(image_tag('icon.png',class: 'header-icon'), "/bandname") %><%#current_user.id が入る%>
  <%= link_to 'アートワークを追加', "#",class:'btn btn-primary btn-sm' %>
</div>

</div>


<div class='col-md-2'></div>
</div>
</div>