<div class='container-fulid'>
<div class='row'>

<div class='col-md-2'></div>


<div class='group-page col-md-7 col-md-offset-1'>
<%#<%= image_tag 'icon.png',class: 'top-icon' %>

<div class='basic-content'>
<div class='top-image-box'>
<%if @group.top_image.attached?%>
  <%= image_tag @group.top_image,class: 'top-image' %>
<%end%>
</div>

  <%= image_tag @group.image,class: 'basic-icon' %>
  <div class='basic-text'>
    <p><%= @group.name %></p>
  </div>

</div>



</div>


<div class='col-md-2'></div>
</div>
</div>
