/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html{
  font-size: 62.5%;
}
a:hover{
  color:rgb(83, 83, 83);
}

li{
  list-style: none;
}
a{
  color:#333;
}

body{
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}
.wrapper{
  overflow-x: hidden;
  padding:0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
a:link,a:visited,a:hover,a:active{
    /*color:rgb(82, 81, 81);*/
    text-decoration: none;
}
.container-fulid{
  overflow-x: hidden;
}
.main-content{
  min-height:1000px;
}

.title{
  font-weight: bold;
}

.form{
  padding:10px 10px;
}

.show-content{
  padding:15px;
}


.header{
   padding:5px 0px 0px 0px;

  /*background-color: #EDF2F6;*/
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;

  /*background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);*/
  width:100%;
  height:60px;
}
.header-content{
  margin:0 auto;
}
.header-logo{
  height:40px;
  float: left;
}
.header-icon{
  height:50px;
  width:50px;
  border-radius: 50%;
}
.header-icon:hover{
  cursor: pointer;
}
.header-menu{
  float: right;
}

.group-page{
  margin:0 auto;
  background-color: rgb(255, 255, 255);
  height:100%;
  padding:0px;
}


.top-image-box{
  width:100%;
  background-color: rgb(226, 226, 226);
  margin-bottom:30px;
}
.top-image{
  padding:0;
  display: block;
  max-height:260px;
  width:100%;
  margin:0 auto;
}
.basic-content{
  background-color: rgb(255, 255, 255);
  margin-bottom:30px;
}
.basic-icon{
  height:90px;
  width:90px;
  border-radius: 50%;
}
.basic-text{
  padding:5px 5px 5px 5px;
  background-color: rgb(255, 255, 255);
  width:auto;
  margin:10px auto;
}
.basic-text p{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.fa,.fs{
  vertical-align: middle;
}

.tab{
  margin:0 auto;
  display: inline-block;
  padding:0 10px;
}

.tab li {
  display: inline-block;
  margin:0 auto;
  color: rgb(161, 161, 161);
  padding: 10px 25px;
  cursor: pointer;
  list-style: none;
  transition: .3s;
  font-size: 3rem;
}
.tab li.active {
  color: rgb(43, 43, 43);
  background: rgb(255, 255, 255);
  border-bottom:2.5px solid #5BBEE4;
}
.tab li:hover{
  color: rgb(43, 43, 43);
}


.area ul {
  display: none;
}
.area ul.show {
  display: block;
}

.show{
  padding:0;
}


.artworks,.members-frame{
  margin:0 auto;
  background-color: rgb(255, 255, 255);
  height:100%;
  padding:0 30px;
}

.audio,.video{
  color:rgb(83, 83, 83);
  background-color:rgb(255, 255, 255);
  margin-bottom:20px;
}

.artworks .row{
  margin:0;
}
.members-frame .row{
  margin:0;
}

.audio-image{
  width:100%;
  margin:0 auto;
}

.audio-title,.video-title{
  text-align: center;
  font-weight:bold;
}
.audio-title span{
  font-size: 1.3rem;
  border-bottom:1px solid #333;
}
.video-title span{
  font-size: 1.3rem;
  border-bottom:1px solid #333;
}

.footer{
  color:rgb(58, 58, 58);
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;
  border-top:1px solid rgb(189, 189, 189);
  height:auto;
  padding:30px 0px 10px 0px;

}


.member{
  display:inline-block;
  color:rgb(83, 83, 83);
  margin-bottom:30px;
}
.member-image{
  height:80px;
  width:80px;
  border-radius: 50%;
  float: left;
}
.member-right{
  display: inline-block;
}
.member-text{
  display:block;
  font-weight: bold;
  font-size: 1.3rem;
  margin:20px 0px;
}
.member-show-sns{
  display: block;
  height:auto;
}
.icon-sns{
  display: inline-block;
  height:40px;
  width:70px;
  color:white;
  font-size:2rem;
  padding:10px 5px 0px 5px;
  border-radius: 5px;
  margin-right:10px;
  margin-bottom:20px;
}
.icon-sns:hover{
  color:rgb(224, 224, 224);
}

.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(31, 31, 31, 0.9);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background:rgb(202, 202, 202);
    left: 50%;
    padding: 20px 0px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    min-height:55%;
    position: relative;
}
.member_modal__content{
    background:rgb(202, 202, 202);
    left: 50%;
    padding: 20px 0px;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;

}
.video_modal__content{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}



.iframe-content {
  position: relative;
  width: 100%;
  padding: 50% 0 0 0;
  margin-top:10px;
}
.iframe-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:5px;
}


.js-modal-close{
  font-size: 1rem;
}


.modal__content .far {
  color: rgb(180, 180, 180);
  font-size: 45px;
  }




.member-show-image{
  height:80px;
  width:80px;
  border-radius: 50%;
}
.member-show-bottom{
  margin:20px auto;
  color: rgb(83, 83, 83);
  width:50%;
}

.member-info{
  padding:5px 5px 5px 5px;
  min-height:70px;
}






/*　プレイヤー（再生バー）の高さ、幅、背景色の指定　*/
.audiojs { height: 22px; background: #242424; width: 70%;margin:5px auto;}

/*　再生・停止ボタンの高さ、幅、パディングの指定　*/
.audiojs .play-pause { width: 25px; height: 20px; padding: 0px 8px 0px 0px; }

/*　再生・停止ボタンなどの p 要素　*/
.audiojs p { width: 25px; height: 20px; margin: -3px 0px 0px -1px;}

/*　進行状態・ロードの状態を表示する部分　*/
.audiojs .scrubber { background: #5a5a5a; width: 150px; height: 10px; margin: 5px; }

/*　進行状態を表示するバーの部分　*/
.audiojs .progress { height: 10px; width: 0px; background: #ccc; }

/*　ロード状態を表示するバーの部分　*/
.audiojs .loaded { height: 10px; background: rgb(37, 37, 37);}

/*　再生時間の部分　*/
.audiojs .time { float: left; height: 25px; line-height: 25px; }
.audiojs .error-message { height: 24px;line-height: 24px; }

/*　再生している曲の情報　*/
.track-details { clear: both; height: 20px; width: 280px; padding: 1px 6px; background: #eee; color: #222;  font-size: 11px; line-height: 20px;}
.track-details:before { content: '♬  Now Playing: '; }



.audio-show-image{
  margin-top:10px;
  width:70%;
}

.audio-show-title{
  display:inline-block;
  font-size: 1.8rem;
  border-bottom:1px solid rgb(192, 192, 192);
}
.audio-show-name{
  display:block;
  font-size: 1.3rem;
}

.audio-relation{
  height:100px;
}
.audio-relation-link-to{
  height:auto;
  display:inline-block;
  margin:0 auto;
}

.audio-show-under{
  margin-top:10px;
  padding:10px 0px;
}
.edit-delete{
  float:right;
}

.video-show-title{
  display:block;
  font-size: 1.7rem;
  border-bottom:1px solid #333;
  float:left;
}
.video-show-name{
  display:block;
  font-size: 1.3rem;
  float:left;
}
.relation{
  width:30%;
}



#img2,#img3,#img4,#img5{
  width:100px;
  height:100px;
}



//ドロワーメニュー
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  vertical-align: middle;
}


/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(32, 32, 32);
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  padding-top:20px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;/*右側OK*/
  z-index: 9999;
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 190px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(105%);/*右側OK*/
  transform: translateX(105%);/*右側OK*/
}
#nav-content li{
  font-size:2rem;
  margin-top:15px;
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.links{
  color:rgb(255, 255, 255);
  margin:10px 15px 10px 0px;
  padding:12px 0px;
  height:40px;
  border-radius: 10px;
}
.links:hover{
  color:rgb(255, 255, 255);
}
.link-icon{
  font-size:1.5rem;
}
.fa-twitter{
  background-color:#1DA1F2;
}
.fa-instagram{
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.fa-window-maximize{
  background-color:#565656;
}
.fa-youtube{
  background-color:rgb(241, 42, 42);
}




//歌詞部分
.hidden_box span{
  font-size:1.5rem;
}

.hidden_box {
    margin: 2em 0;
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    font-weight: bold;
    border-radius: 5px;
    cursor :pointer;
    transition: .5s;
}

/*アイコンを表示*/
.hidden_box label:before {
    display: inline-block;
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 5px;
    transition: 0.2s;
}


/*アイコンを切り替え*/
.hidden_box input:checked ~ label:before {
     content: '\f00d';
     font-family: "Font Awesome 5 Free";
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
     color: #668ad8;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}




//画像ファイル選択デザイン
#img_field {
  font-size: 15px;
  margin: 10px auto;
  padding: 5px 8px;
  border: solid 1px rgb(175, 175, 175);
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: rgb(61, 61, 61);
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.ex_image{
  height:300px;
}


//ローディング
.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
}

.loader,
.loader:before,
.loader:after {
	background: #ffffff;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: #ffffff;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
  	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}