/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body{
  background-color: #EDF2F6;
  text-align: center;
}

.header{
  padding:15px 0px 15px 0px;
  background-color: rgb(255, 255, 255);
}
.header-content{
  margin:0 auto;
}
.header-logo{
  height:40px;
  float: left;
}
.header-icon{
  height:40px;
  width:40px;
  border-radius: 30px;
  margin-right:5px;
}
.header-menu{
  float: right;
}

.group-page{
  margin:0 auto;
  background-color: rgb(255, 255, 255);
  height:700px;
  padding:0px;
  position: relative;
}

.top-image{
  display: block;
  height:250px;
  width:100%;
  margin-bottom:75px;
}
.top-icon{
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;

  height:140px;
  width:140px;
  border-radius: 80px;
  border:3px solid rgb(255, 255, 255);
}