/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html{
  font-size: 62.5%;
}
a:hover{
  color:rgb(83, 83, 83);
}

body{
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}
.wrapper{
  overflow-x: hidden;
  padding:0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
a:link,a:visited,a:hover,a:active{
    /*color:rgb(82, 81, 81);*/
    text-decoration: none;
}
.container-fulid{
  overflow-x: hidden;
}
.main-content{
  min-height:700px;
}


.header{
  padding:20px 0px;
  /*background-color: #EDF2F6;*/
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  width:100%;
  height:80px;
}
.header-content{
  margin:0 auto;
}
.header-logo{
  height:40px;
  float: left;
}
.header-icon{
  height:40px;
  width:40px;
  border-radius: 30px;
  margin-right:5px;
}
.header-menu{
  float: right;
}

.group-page{
  margin:0 auto;
  background-color: rgb(255, 255, 255);
  height:100%;
  padding:0px;
}


.top-image-box{
  width:100%;
  background-color: rgb(226, 226, 226);
  margin-bottom:30px;
}
.top-image{
  padding:0;
  display: block;
  max-height:260px;
  width:100%;
  margin:0 auto;
}
.basic-content{
  background-color: rgb(255, 255, 255);
  margin-bottom:30px;
}
.basic-icon{
  height:80px;
  width:80px;
  border-radius: 50%;
  display:inline-block;
  vertical-align: middle;
}
.basic-text{
  padding:5px 5px 5px 5px;
  background-color: rgb(255, 255, 255);
  width:auto;
  display:inline-block;
  vertical-align: middle;
}
.basic-text p{
  font-weight: bold;
  font-size: 1.5rem;
}

.fa,.fs{
  vertical-align: middle;
}




.tab li {
  display: inline-block;
  margin:0 auto;
  color: rgb(161, 161, 161);
  padding: 10px 20px;
  cursor: pointer;
  list-style: none;
  transition: .3s;
  font-size: 3rem;
}
.tab li.active {
  color: rgb(43, 43, 43);
  background: rgb(255, 255, 255);
  border-bottom:2.5px solid #5BBEE4;
}
.tab li:hover{
  color: rgb(43, 43, 43);
}


.area ul {
  display: none;
}
.area ul.show {
  display: block;
}

.show{
  padding:0;
}


.artworks,.members-frame{
  margin:0 auto;
  background-color: rgb(255, 255, 255);
  height:100%;
  padding:0 30px;
}

.audio,.video{
  display:inline-block;
  color:rgb(83, 83, 83);
  background-color:rgb(255, 255, 255);
  margin-bottom:20px;
}

.artworks .row{
  margin:0;
}
.members-frame .row{
  margin:0;
}

.audio-image,.video-image{

  /*margin:0px 0px 0px 0px;*/
  width:100%;
}
.audio-title,.video-title{
  text-align: center;
  font-weight:bold;
}
.audio-title span{
  font-size: 1.3rem;
  border-bottom:1px solid #333;
}
.video-title span{
  font-size: 1.3rem;
  border-bottom:1px solid #333;
}

.footer{
  border-top:1px solid rgb(189, 189, 189);
  height:60px;
}


.member{
  display:inline-block;
  color:rgb(83, 83, 83);
  margin-bottom:30px;
}
.member-image{
  height:80px;
  width:80px;
  border-radius: 50%;
  float: left;
}
.member-right{
  display: inline-block;
}
.member-text{
  display:block;
  font-weight: bold;
  font-size: 1.3rem;
  margin:20px 0px;
}
.member-sns{
  display: block;
  height:auto;
}
.icon-sns{
  display: inline-block;
  height:30px;
}







.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(39, 39, 39, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: rgb(36, 36, 36);
    left: 50%;
    padding: 20px 0px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    min-height:55%;
    position: relative;
}
.video_modal__content{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.iframe-content {
  position: relative;
  width: 100%;
  padding: 50% 0 0 0;
}
.iframe-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.js-modal-close{
  font-size: 1rem;
}


.modal__content .far {
  /*
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  */
  color: rgb(180, 180, 180);
  font-size: 45px;
  }




.member-show-image{
  height:80px;
  width:80px;
  border-radius: 50%;
}
.member-show-bottom{
  margin:20px auto;
  color: rgb(180, 180, 180);
  width:50%;
}
.member-show-sns{
  margin-top:20px;
}
.member-info{
  height:150px;
}

.audio-show-image{
  width:95%;
  height:auto;
}
.audio-control{
  display: block;
  width:100%;
}
.audio-show-title{
  margin-top:10px;
  display: block;
  font-size: 1.3rem;
  color: rgb(180, 180, 180);
}
.audio-show-name{
  display: block;
  font-size: 1.3rem;
  color: rgb(180, 180, 180);
  margin-bottom:25px;
}
