/**********************
DEFAULT
***********************/

html{
  font-size: 62.5%;
}

body {
	font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  color:#454552;
}
a:hover{
  color:rgb(83, 83, 83);
}
li{
  list-style: none;
}
a{
  color:#333;
}
p{
	font-size: 1.4rem;
}

.wrapper{
  overflow-x: hidden;
  padding:0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
a:link,a:visited,a:hover,a:active{
    /*color:rgb(82, 81, 81);*/
    text-decoration: none;
}
.container-fulid{
  overflow-x: hidden;
}

.header{
  padding:0px 0px 0px 0px;
  background-color:rgb(255, 255, 255);
  box-shadow: 0 0px 3px rgb(175, 175, 175);
  width:100%;
	height:80px;
}
.header-content{
  margin:0 auto;
}
.header-logo{
  float: left;
  height:50px;
  margin-top:18px;
}
.header-icon{
  height:60px;
  width:60px;
  border-radius: 50%;
  object-fit: cover!important;
  margin-top:10px;

}
.header-icon:hover{
  cursor: pointer;
}
.header-menu{
  float: right;
}
.login-button{
  margin-top:22px;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  vertical-align: middle;
}


/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(32, 32, 32);
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  padding-top:20px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;/*右側OK*/
  z-index: 9999;
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 190px;/*最大幅（調整してください）*/
  height: 100%;
  background: rgb(255, 255, 255);/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(105%);/*右側OK*/
  transform: translateX(105%);/*右側OK*/
}
#nav-content li{
  font-size:2rem;
  margin-top:15px;
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h2.section-title,
.h2.section-title {
	font-weight: bold;

	color: #2c4755;
}

.title-content {
	margin:0 auto;
	text-align: center;
}

.title-content p {
	margin-top: 34px;
}

h3, .h3 {
	font-weight: bold;
}

h4, .h4 {
	font-size: 20px;
	font-weight: 400;
	text-transform: none;
}

section {
	position: relative;
	background-color: #ffffff;
}





#home {
	max-height:450px;
	height:100%;
}
.li-image-a{
	margin:20px 0px;
	height:650px;
	border-radius: 3px;
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);

}
.li-image-b{
	margin:20px 0px;
	height:650px;
	border-radius: 3px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}
.lp-ex{
	width:100%;
}
/**********************
SERVICES SECTION
***********************/

#services{
	padding: 40px 0 0;
}
.service{
	margin:0 auto;
}

.services-container {
	background-color:rgb(255, 255, 255);
	position: relative;
	margin:0 auto;
}


.services-container .service {
	max-width: 270px;
	margin: 0 auto;
	text-align: center;
}

.services-container .service h4 {
	margin-top: 53px;
	font-weight: 600;
}

.services-container .service p {
	margin-top: 28px;
}

.we-make-section {
	background-size: cover;
	position: relative;
	padding: 30px 0;
	background-color:#EAEAEA;

}
.we-make-section2 {
	background-size: cover;
	position: relative;
	padding: 30px 0;
	background-color:rgb(255, 255, 255);
}

.img-container {
	padding:10px 0px;
	background-color:#EAEAEA;
}
.gray{
	background-color:#EAEAEA;
}


.we-make-section h3 {
	color: #4EA1D5;
	margin-top: 15px;
}

.we-make-section p {
	margin-top: 37px;
	color:#454552
}
.we-make-section2 h3 {
	color: #4EA1D5;
	margin-top: 15px;
}

.we-make-section2 p {
	margin-top: 37px;
	color:#454552
}

.features-list {
	margin: 44px 0 0 28px;
	color: #ffffff;
}

.features-list li {
	position: relative;
	line-height: 30px;
	margin-left: 60px;
	margin-bottom: 10px;
}

.features-list li:before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	left: -60px;
	background: url('../img/svg/circle_plus.svg') center center no-repeat;
}





/**********************
ABOUT US SECTION
***********************/

#about {
	padding: 86px 0 0;
}

.about-team {
	margin-top: 55px;
}

.about-team .team-member:focus {
	outline: none;
}

.about-team .team-member .img-container img {
	display: inline-block;
}

.about-team .team-member .description {
	max-width: 100%;
}

.about-team .team-member h4,
.about-team .team-member .h4 {
	margin-top: 64px;
	font-size: 25px;
	font-weight: 600;
	color: #ffe600;
}

.about-team .team-member .position {
	margin-top: 18px;
	font-weight: 600;
	color: #334752;
}

.about-team .team-member .biography {
	margin-top: 38px;
}

.about-team .team-member .biography p:not(:first-of-type) {
	margin-top: 15px;
}

/**********************
SLIDER OPTIONS
***********************/

.team-member.slick-slide {
	opacity: 0.2;
	transition: opacity 1s ease-out;
}

.team-member.slick-slide.slick-center {
	opacity: 1;
	transition: opacity 1s ease-out;
}



#contact {
	padding: 50px 0 50px;
	background: #EAEAEA;
	color: #454552;
}
#contact li{
	color:#454552;
	position: relative;
	line-height: 30px;
	margin-left: 60px;
	margin-bottom: 10px;
}
#contact p{
	color: #454552;
}

#contact .section-title {
	color: #454552;
}

/**********************
FOOTER SECTION
***********************/
.footer{
  color:#454552;
  background-color:#4EA1D5;
  border-top:1px solid rgb(189, 189, 189);
  height:auto;
  padding:30px 0px 10px 0px;

}



/**********************
HELPER CLASSES
***********************/

.text-yellow {
	color: #ffe600;
}

.img-container {
	text-align: center;
}

.img-container img {
	max-width: 100%;
}

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/**********************
RESPONSIVE
***********************/

@media only screen and (min-width: 1440px) {

	/**********************
	HOME SECTION
	***********************/
	.carousel-caption {
		left: 25%;
		right: 25%;
	}

}

@media only screen and (max-width: 1199px) {

	/**********************
	NAVIGATION
	***********************/
	#main-navigation .container {
		width: 100%;
	}
	#main-navigation.navbar-default .navbar-nav>li>a {
		padding: 40px 23px;
	}
	#main-navigation .navbar-brand, #main-navigation.navbar-default .navbar-nav>li>a.navbar-brand {
		padding: 29px 23px 23px;
	}

	/**********************
	PORTFOLIO SECTION
	***********************/
	.portfolio-grid .grid-item, .portfolio-grid .gap {
		width: calc(100%/2 - (((2 - 1) * 29px) / 2));
	}

}

@media only screen and (max-width: 991px) {

	/**********************
	SERVICES SECTION
	***********************/

	.services-container .service {
		margin-top: 45px;
	}

	.services-container .line {
		display: none;
	}

	.features-container {
		max-width: 650px;
		margin: 0 auto;
		padding: 30px 15px;
		text-align: center;
	}

	.we-make-section .img-container {
		margin-bottom: 0;
		margin: 60px auto;
	}

	.we-make-section .features-list {
		display: inline-block;
		margin: 44px auto 0;
		text-align: left;
	}

	/**********************
	PORTFOLIO SECTION
	***********************/
	.video-section h4 {
		margin-top: 45px;
	}

	#portfolio .video-section .btn {
		display: block;
		margin: 30px auto 0;
	}

	/**********************
	ABOUT US SECTION
	***********************/
	.about-team .team-member .description {
		text-align: center;
		margin-bottom: 45px;
	}

	.about-team .team-member h4,
	.about-team .team-member .h4 {
		margin-top: 35px;
	}

	.about-team .team-member .description .biography {
		text-align: left;
	}

	/**********************
	SKILLS & COMPANY SUBSECTION
	***********************/
	.company-subsection h4 {
		margin-top: 90px;
	}

	.company-subsection .description {
		margin-top: 30px;
	}

	/**********************
	CONTACT US SECTION
	***********************/
	#contact .contact-form .row div:not(:first-of-type) {
		margin-top: 30px;
	}

	/**********************
	HELPER CLASSES
	***********************/

	/* Reverse the order of columns on xs*/
    .row.reorder-sm {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        direction: rtl; /* Fix the horizontal alignment */
    }

    .row.reorder-sm > [class*="col-"] {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        direction: ltr; /* Fix the horizontal alignment */
    }

}

@media only screen and (max-width: 767px) {

	/**********************
	DEFAULT
	***********************/

	h2.section-title {
		font-size: 50px;
	}

	/**********************
	NAVIGATION
	***********************/

	#main-navigation.navbar .navbar-nav {
	    display: block;
	}

	#brand-mobile {
		display: block;
	}

	#main-navigation .navbar-brand-center {
		padding: 29px 45px 23px;
	}

	#brand-desktop {
		display: none;
	}

	#main-navigation.navbar-default .navbar-nav>li>a {
		padding: 20px 0;
	}

	/**********************
	HOME SECTION
	***********************/
	.carousel-caption .h1 {
		font-size: 55px;
	}


	/**********************
	ABOUT US SECTION
	***********************/
	.team-member.slick-slide {
		opacity: 1;
	}

	/**********************
	BLOG SECTION
	***********************/
	.first-row-entry, .second-row-entry {
		margin-top: 45px;
	}

	#blog .newsletter-form #Email {
		max-width: 370px;
		margin: 0 auto;
	}

	#blog .newsletter-form .btn {
		max-width: 170px;
		margin: 30px auto 0;
	}
}

.start-content{
	height:250px;
}

#services-container{
	margin:0 atuo;
}


.share-space{
  height:170px;
  background-color: #454552;
  padding:20px 0px;
  margin-top:50px;
}
.share-button{
  display:inline-block;
  margin:10px 5px;
  height:80px;
  width:80px;
  border-radius: 25%;
  background-color:#EAEAEA;
  padding:0 px;
}
.share-ex{
  color:#EAEAEA;
  margin-bottom:10px;
}
.share-button p{
  line-height:80px;
  color:#454552;
  font-size: 1.4rem;
}