<div class='container-fuild form'>
<div class='row'>
<div class='col-md-4'></div>

<div class='col-md-4'>

<%= link_to 'メンバー新規追加', new_member_path,class:'btn btn-info btn-lg my-4' %><br>
<%@members.each do |member|%>
<div class="member-edit">
<span><%=member.member_name%></span>
<%= link_to '編集', edit_member_path(member),class:'btn btn-info btn-lg my-4 mx-3' %>
<%= link_to '削除', member_path(member),method: :delete,data:{confirm: "削除しますか？"},class:'btn btn-info btn-lg my-4' %>
</div>
<%end%>
</div>
<div class='col-md-4'></div>
</div>
</div>